<%- include('../partials/header'); %>


    <main class="main main-home">
        <div class="container">
            <h2>For all your joking needs........</h2>
        </div>
    </main>





<%- include('../partials/footer'); %>