<%- include('../partials/header') %>

<main class="main main-single">
    <div class="container">
        <h3><%= data.setup %></h3>
        <p class="single-punch"><%= data.punchline %></p>
    </div>
</main>



<%- include('../partials/footer') %>