    <%- include('../partials/header'); %>
    
    <main class="main">
        <div class="container">
            <section class="section">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur distinctio eaque, aliquam minus dicta delectus accusantium repellendus nam deleniti iusto odit ipsa impedit vel reiciendis accusamus itaque sit. Voluptatibus facilis ratione quia, corporis amet nostrum exercitationem laudantium veritatis nobis voluptates, perspiciatis dicta officia! Perferendis consectetur vitae consequuntur voluptate dicta harum neque ex a rem facere quos tempore beatae odit modi ab unde dolore, ullam eos accusamus officia illum assumenda! Consectetur explicabo nisi aliquam id quos iure delectus impedit ratione quisquam deleniti debitis, deserunt esse dolore ipsum ad sed voluptate eaque fugit ex eligendi excepturi. Fugiat accusantium quam quasi rem, nemo eius repudiandae velit saepe, corporis ex repellat? Autem maxime incidunt, debitis repellendus tempore ut cupiditate facilis exercitationem in placeat aperiam qui optio, consequatur hic magni ratione? Veritatis nulla aut fugit, beatae ratione mollitia doloremque officia voluptatibus. Architecto doloremque provident iusto officia corrupti accusantium maxime quibusdam molestiae repudiandae quae ex adipisci eos ducimus repellendus rerum, nesciunt quia deleniti ullam dolorem molestias incidunt eaque laborum numquam. Placeat numquam aspernatur, natus quae, sed sunt tempora rem asperiores repudiandae ex error necessitatibus totam dolore accusamus assumenda, quod similique provident consequatur recusandae incidunt. Unde similique dolorem magni voluptatum rem impedit molestiae ullam dolor ducimus commodi.
            </section>
        </div>
    </main>
<%- include('../partials/footer'); %>