<%- include('../partials/header'); %>

<main class="main main-404">
    <div class="container">
        <h1 class="header-h1"><%= name %></h1>
        <h2 class="header-h2">This page is a...</h2>
        <img src="/media/sponge-bob-loser.gif" alt="loser gif" class="img-fluid w-100">
    </div>
</main>

<%- include('../partials/footer'); %>