<%- include('../partials/header'); %>
    
    <main class="main main-home">
        <div class="container">
            <h2 class="header-h2">Welcome to the Sakila Movie Page!</h2>
            <section class="sect">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore possimus non, similique blanditiis accusantium quibusdam velit quidem minus nostrum, adipisci deserunt saepe facilis quia. Tenetur nisi maiores voluptates eum quia ab consequuntur nam totam expedita earum, quidem, laborum facere? Distinctio fugiat nesciunt consequatur alias voluptate veritatis quas esse perspiciatis, adipisci, nisi atque neque laudantium quia praesentium laborum quae non illo provident inventore. Facere neque fuga, ipsa velit debitis tenetur quae dolor iure a? Quis fugit eum expedita. Fugit quas mollitia voluptates. Voluptatem qui quam iure quos aliquam animi nam beatae excepturi illo rem doloremque ea ab adipisci culpa sunt doloribus, perferendis porro recusandae quod obcaecati. Voluptatum aspernatur facilis deleniti odio labore alias sapiente delectus, modi voluptas inventore sint tempore blanditiis porro cumque voluptates minus omnis et perferendis, fugiat ut provident. Aliquam illum enim amet eius est architecto officia dignissimos dolore fugiat ipsa, dolorum esse ullam maxime, voluptas expedita error? Quos fugit quod accusantium ullam necessitatibus iusto, quis fuga expedita nam doloribus. Quaerat repellendus id libero blanditiis accusantium in assumenda nisi, maiores provident nihil tempore expedita temporibus corporis. Eveniet perspiciatis itaque labore quaerat. Eius repellat aut sed libero fugiat atque voluptas quasi nemo? Officiis illum cupiditate, expedita adipisci perspiciatis nam in porro esse quibusdam, voluptatum earum ab explicabo ipsam obcaecati, voluptates alias fugiat veritatis nisi! Quia similique tempora iusto iure, fuga atque iste doloribus numquam porro reprehenderit sed. Beatae adipisci doloribus qui modi expedita, numquam architecto facere, blanditiis culpa maxime laborum natus error asperiores labore quod officia! Quis, rerum ex.</p>
                        <img src="https://via.placeholder.com/350x350" alt="placeholder">
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius repudiandae facilis laborum quia cupiditate, veritatis quae? Nisi qui dolore veniam mollitia aliquid error odit facilis officiis. Totam amet cum nesciunt autem accusamus veniam nemo alias deleniti eius aut non, adipisci doloremque quod porro incidunt architecto ducimus repudiandae reprehenderit eum facere nobis. Quibusdam nihil porro quaerat, dolor maxime praesentium molestiae minus! Iusto sit sequi culpa repellat pariatur nulla fuga vitae, sint molestiae eligendi. Id, expedita? A repudiandae beatae aliquam odit?</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius repudiandae facilis laborum quia cupiditate, veritatis quae? Nisi qui dolore veniam mollitia aliquid error odit facilis officiis. Totam amet cum nesciunt autem accusamus veniam nemo alias deleniti eius aut non, adipisci doloremque quod porro incidunt architecto ducimus repudiandae reprehenderit eum facere nobis. Quibusdam nihil porro quaerat, dolor maxime praesentium molestiae minus! Iusto sit sequi culpa repellat pariatur nulla fuga vitae, sint molestiae eligendi. Id, expedita? A repudiandae beatae aliquam odit?</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eius repudiandae facilis laborum quia cupiditate, veritatis quae? Nisi qui dolore veniam mollitia aliquid error odit facilis officiis. Totam amet cum nesciunt autem accusamus veniam nemo alias deleniti eius aut non, adipisci doloremque quod porro incidunt architecto ducimus repudiandae reprehenderit eum facere nobis. Quibusdam nihil porro quaerat, dolor maxime praesentium molestiae minus! Iusto sit sequi culpa repellat pariatur nulla fuga vitae, sint molestiae eligendi. Id, expedita? A repudiandae beatae aliquam odit?</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

<%- include('../partials/footer'); %>