h1 {
    font-family: sans-serif;
    color: orange;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.parent {
    background-color: cyan;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.container {
    display: flex;
}

/* min is the reverse of Max width */

@media (max-width: 960px) {
    h1 {
        color: white;
    }

    /* .parent {
        width: 50%;
    } */

    .container {
        display: block;
    }
}

@media (max-width: 680px) and (min-width:500px) {
    .container {
        display: flex;
    }
}

