.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .block {
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
  }