<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Media Quary</title>
</head>
<body>
    <div class="parent">
        <h1>Kevin Barone</h1>
        <div class="container">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore ea fugit repudiandae et soluta ullam debitis natus eos exercitationem quidem illo illum numquam rerum totam sit obcaecati harum id ex, eligendi reiciendis cum qui quo pariatur? Qui et odio illum eveniet dolores obcaecati ad, doloribus accusamus, magnam inventore sequi suscipit? Harum suscipit unde aspernatur dolorum, amet perspiciatis vitae culpa. Tenetur, possimus dolores. Consectetur eligendi explicabo assumenda ratione eos dicta quis quasi minus. Consequatur, repellat!</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam tempore ea fugit repudiandae et soluta ullam debitis natus eos exercitationem quidem illo illum numquam rerum totam sit obcaecati harum id ex, eligendi reiciendis cum qui quo pariatur? Qui et odio illum eveniet dolores obcaecati ad, doloribus accusamus, magnam inventore sequi suscipit? Harum suscipit unde aspernatur dolorum, amet perspiciatis vitae culpa. Tenetur, possimus dolores. Consectetur eligendi explicabo assumenda ratione eos dicta quis quasi minus. Consequatur, repellat!</p>
        </div>
    </div>

</body>
</html>