<footer class="footer">
    <div class="container">
        <p class="colophon">site by burgerman&copy;2023</p>
        <p>Back to <a href="#top" class="top-link">top</a>.</p>
    </div>
</footer>
</body>
</html>