<%- include('../partials/header'); %>

<main class="main main-home">
    <div class="container">
        <h2 class="text-center text-uppercase my-5">rick and morty universe</h2>
        <img src="<%= img %>" alt="" class="img-fluid">
    </div>
</main>


<%- include('../partials/footer'); %>