<%- include('../partials/header') %>

<main class="main main-404">
    <div class="container">
        <h2 class="header-h2 text-center">This page exists just like your liver....it doesn't</h2>
        <img src="/media/drunk.gif" alt="Drunken Error Page" class="img-fluid w-100">
    </div>
</main>

<%- include('../partials/footer') %>