<%- include('../partials/header') %>
<main class="main main-home">
        <section class="section section-home">
            <div class="container">
                <h2 class="header-h2">
                    <%= name %>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quod necessitatibus in non ullam itaque laboriosam officiis corporis ipsa, recusandae pariatur voluptatum molestiae explicabo soluta natus neque possimus voluptas delectus accusantium quisquam repellendus? Quos quisquam voluptatem illo nulla, accusantium est ea esse. Doloribus assumenda error enim, quod, a voluptatum ratione quis sapiente provident, id placeat voluptate ab deserunt? Natus, illo nam deserunt et facere officiis amet sit maxime nesciunt, inventore sed facilis a atque ipsa autem obcaecati numquam repudiandae iusto. Officiis eligendi fugiat itaque animi magni delectus in doloremque aut cumque earum explicabo consequuntur veritatis omnis tenetur, ipsum distinctio deserunt.</p>
                        </div>
                        <div class="col-md-7">
                            <img src="https://via.placeholder.com/350x350" alt="placeholder image" class="img-fluid rounded home-img float-end" />
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-3">
                            <figure class="figure">
                                <img src="https://via.placeholder.com/250x250" alt="placeholder img" class="img-fluid rounded home-img second-row-img">
                                <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure class="figure">
                                <img src="https://via.placeholder.com/250x250" alt="placeholder img" class="img-fluid rounded home-img second-row-img">
                                <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure class="figure">
                                <img src="https://via.placeholder.com/250x250" alt="placeholder img" class="img-fluid rounded home-img second-row-img">
                                <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
                            </figure>
                        </div>
                        <div class="col-md-3">
                            <figure class="figure">
                                <img src="https://via.placeholder.com/350x350" alt="placeholder img" class="img-fluid rounded home-img second-row-img">
                                <figcaption class="figure-caption">Lorem ipsum dolor sit.</figcaption>
                            </figure>
                        </div>
                    </div>
                </h2>
            </div>
        </section>
    </main>

<%- include('../partials/footer') %>