<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Posisisition</title>
</head>
<body>
    <header>
        
        <h1 class="main-header"> Header </h1>

        <nav class="main-nav">
            <ul>
                <li class="nav-item"><a href="#link">Home</a></li>
                <li class="nav-item"><a href="#link">About</a></li>
                <li class="nav-item"><a href="#link">Contact</a></li>
            </ul>
        </nav>

    </header>
    <main>

        <section class="section section1">
            <img src="https://via.placeholder.com/650x550" alt="placeholder" class="img-fluid placeholder-image" />
        </section>
        <section class="section section2">
            <p class="section2-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit tempore quas quo officiis recusandae eligendi, consequatur quidem facere officia nostrum sequi inventore laborum non consectetur fuga dolore veritatis voluptatum sit, laboriosam molestias ullam mollitia repudiandae at. Possimus non dolore in inventore laboriosam et enim. Enim porro quas sapiente nisi quae tempora hic sunt magnam deleniti! Deserunt atque optio, aut recusandae quis ex quasi necessitatibus modi corrupti beatae rerum fugiat iure odit tempore ratione, tempora earum facilis quaerat. Suscipit, quae voluptatibus labore eius totam nihil esse? Aspernatur, odit doloremque aperiam sunt labore obcaecati sed alias nesciunt quasi similique. Provident, reiciendis maiores!</p>
            <p class="section2-content">Esse vero repellendus voluptatum sint temporibus autem reiciendis nulla provident commodi quam ipsam magni minima veritatis ullam dolor asperiores quod itaque blanditiis, velit distinctio ex aliquam consectetur voluptate molestias! Sunt necessitatibus consequatur aperiam omnis harum! Accusamus deleniti tenetur, reiciendis harum, possimus soluta id dicta eaque mollitia tempore quisquam facilis nam. Fugiat necessitatibus iure veritatis quae eum expedita, voluptas minima rem perferendis? Pariatur nemo possimus culpa cumque, vero laboriosam optio eligendi impedit suscipit vel sint perferendis ratione ut unde, labore architecto maiores sequi dolore magni. Illo placeat, veniam consectetur tempora quam consequuntur fugiat ad aut fuga dolores qui impedit iure sunt?</p>
        </section>
        <section class="section section3">
            <p class="section3-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, necessitatibus? Eaque ullam consequuntur quos expedita incidunt esse architecto ratione iusto sapiente atque, et a maiores est beatae rem repellendus perferendis unde voluptatum commodi provident veritatis? Nulla, earum impedit repellat esse aut mollitia dolore illum tempore velit est beatae explicabo suscipit nam temporibus aspernatur, error pariatur. Dignissimos, minus adipisci, sapiente aspernatur odit ipsum aperiam iure omnis corporis possimus veritatis soluta ea eos culpa fuga a temporibus quis. Ipsa fugiat autem enim illo in minima quia dicta dolore, beatae delectus libero reprehenderit. Aliquid architecto nulla, labore repudiandae similique beatae ipsum sed neque debitis sint eaque animi, quam impedit deleniti sit, cum accusantium! Corporis dignissimos quae iste? Blanditiis debitis velit nihil odio nulla quos maxime veniam minima ad!</p>
            <p class="section3-content">Quas, delectus? Corporis quae, ea earum beatae suscipit quas eligendi quidem aspernatur labore, blanditiis nulla. Temporibus non ullam laudantium neque molestias fugit similique explicabo aperiam deserunt. Tempora, voluptate doloremque quos enim provident debitis excepturi, autem libero facilis cumque, voluptatum accusamus dolore ipsam quae? Reiciendis repudiandae sapiente nobis quod. Libero numquam, itaque ipsum ex laudantium quam id voluptates delectus sunt ab quae ipsa. Cum ea minus nisi incidunt animi quam, voluptas, ipsum sequi, assumenda laudantium quod. Vitae rem recusandae numquam repellat quis! Id sunt assumenda numquam pariatur, aliquam quas. Eveniet commodi, molestias ducimus vero dolore sapiente in impedit facilis nobis eligendi repellendus, veritatis quo error corporis voluptatibus incidunt unde, excepturi nemo officiis facere magnam a itaque. Magni eius hic impedit iste cupiditate fugiat obcaecati itaque amet.</p>
            <p class="section3-content">Quas, delectus? Corporis quae, ea earum beatae suscipit quas eligendi quidem aspernatur labore, blanditiis nulla. Temporibus non ullam laudantium neque molestias fugit similique explicabo aperiam deserunt. Tempora, voluptate doloremque quos enim provident debitis excepturi, autem libero facilis cumque, voluptatum accusamus dolore ipsam quae? Reiciendis repudiandae sapiente nobis quod. Libero numquam, itaque ipsum ex laudantium quam id voluptates delectus sunt ab quae ipsa. Cum ea minus nisi incidunt animi quam, voluptas, ipsum sequi, assumenda laudantium quod. Vitae rem recusandae numquam repellat quis! Id sunt assumenda numquam pariatur, aliquam quas. Eveniet commodi, molestias ducimus vero dolore sapiente in impedit facilis nobis eligendi repellendus, veritatis quo error corporis voluptatibus incidunt unde, excepturi nemo officiis facere magnam a itaque. Magni eius hic impedit iste cupiditate fugiat obcaecati itaque amet.</p>
            
        </section>

    </main>
    <footer>
        <p class="colophon">Kevin &copy; 2022</p>
    </footer>
</body>
</html>